<!doctype html>
<html>
	<head>
	<meta charset="UTF-8" />
	<title>Steemians with same city</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.mb.css" type="text/css" /> 
    <div class="col-md-offset-4 col-md-4 col-md-offset-4 column">
          <form action="/search" method="get">
            <div class="form-group">
               <label>City：</label><input type="text" name="cityname" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
	</body>
